<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="superSocket"
         type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <superSocket>
    <servers>
      <server name="VoteSocketServer"
              textEncoding="UTF-8"
              serverType="VoteSocket.Server.VoteServer,VoteSocket"
              ip="Any" port="5566"
              maxRequestLength="9999"
              receiveBufferSize="100000"
              sendBufferSize="1000"
              maxConnectionNumber="100"></server>
    </servers>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>