<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <script src="Content/js/vue.js"></script>
    <script src="Content/js/axios.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>
    <script src="Content/js/qs.js"></script>
    <link href="Content/css/vote.css" rel="stylesheet" />
    <link href="Content/css/index.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <div class='title'>
            <!-- <img src='../img/austrlia.jpg' class='map'></img> -->
            <div class='dxtitle'>{{pageData.Title}}</div>
        </div>


        <div class='pandaContainer'>
            <div class='pandatitle'>
                <div>{{pageData.SubTitle}}</div>
            </div>
            <img src='./Content/Image/dxm.jpg' class='panda' />
            <div class='opera'>
                <div class='content'>
                    {{pageData.Content}}
                    <div class='openread'>
                        <!-- <div class='open'>展开阅读</div> -->
                    </div>
                </div>
            </div>
            <div class='heartContainer'>
                <div class='heartArea'>
                    <div>
                        <img src='./Content/Image/heart.png' class='heart' />
                    </div>
                    <div class='heartCount'>{{pageData.Likes}}</div>
                </div>
                <!--<img src='./Content/Image/unsupport.png' class='support' />-->
                <img src='./Content/Image/unsupport.png' class='support' v-on:click="like(pageData.Id)" />

            </div>
        </div>

        <div class='prime' v-for="p in pageData.Subjects">
            <div class='primetitle'>
                <div>{{p.Title}}</div>
            </div>
            <img src='./Content/Image/dx.png' class='panda' />
            <div class='vsarea'>
                <img src='Content/Image/vs.png' class='vs' />
            </div>
            <div class='people'>
                <div class='primeone' v-for="cell in p.Options">
                    <div class='nick' v-if="cell.ReferenceType==1">{{cell.Reference.Name}}</div>
                    <div class='nick' v-else>{{cell.Title}}</div>

                    <div class='introduce' v-if="cell.ReferenceType==1"> {{cell.Reference.Title}}</div>
                    <div class='introduce' v-else>{{cell.Order}}</div>
                    <div class='ticket'>{{cell.Votes}}</div>
                    <img class="btnSupp" src="Content/Image/unsupport.png" v-on:click="support(cell,p.Id)"  />
                    <img class="btnSupp" src="Content/Image/support.png" v-on:click="support(cell,p.Id)"   />

                    <!-- <img  src='../img/unsupport.png' class='primeSupp' bindtap='support'></img> -->
                </div>
            </div>

        </div>

        <div class='buttonarea'>
            <button class='button' v-on:click="post">确认投票</button>
        </div>

        <div class='foot'>
            <div class='ele'>
                <button class='btnshare'>+</button>
                <div class='rank'>分享大使</div>
            </div>

            <div class='ele' v-for="p in item">
                <img src='Content/Image/dxm.jpg' class='dxm' />
                <div class='rank'>461</div>
            </div>
        </div>



        <!-- <div class='news'>
          <div class='pandatitle'>
            <div>最新动态</div>
          </div>
          <img src='{{pageData.Media}}' class='panda' wx:if='{{pageData.MediaType==1}}' />
          <div class='opera'>
            <div class='content'>
              {{pageData.Content}}
            </div>
          </div>
        </div> -->
        <!--<div class="modal-box" hidden='{{!showTip}}'>
            <div class="modal-content">
                <div class="content-title">微信授权</div>
                <div class='logoArea'>
                    <img src='../img/logo.png' class='logo' />
                </div>
                <div class="content-div">
                    为了投票结果的严肃性，天天热点传媒需要您的授权
                </div>
            </div>
            <div class="modal-btns">
                <div class="weui-flex">
                    <div class="weui-flex__item">
                        <button class="dialog-btn confirm" open-type="getUserInfo" bindgetuserinfo="getUserInfo">开始授权</button>
                        <button class="dialog-btn exit" bindtap='exit'>取消</button>
                    </div>
                </div>
            </div>
        </div>-->



    </div>
</body>
<script src="index.js"></script>
</html>
