<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <appSettings>
    <add key="appId" value="wx26c85f54e07b180e" />
    <add key="secret" value="eeee0ba50fc1d58dc81b2913e2aad52c" />
    <add key="oauthId" value="wx4044f29c298cc212" />
    <add key="oauthSecret" value="42926f32389b61b0582b3603bc81777d" />
  </appSettings>
</configuration>